*.user.js linguist-language=CSS

script-darkreader.user.js linguist-language=JavaScript
script-disable-amp.user.js linguist-language=JavaScript
script-duolingo-duohacker.user.js linguist-language=JavaScript
script-ehentai downloader.user.js linguist-language=JavaScript
script-duolingo-duohacker.user.js linguist-language=JavaScript
script-endless-google.user.js linguist-language=JavaScript
script-font-teller.user.js linguist-language=JavaScript
script-force-open-links-in-new-tab.user.js linguist-language=JavaScript
script-force-sf-pro-nuke-(via-github).user.js linguist-language=JavaScript
script-image-downloader-button.user.js linguist-language=JavaScript
script-pull-to-refresh.user.js linguist-language=JavaScript
script-reddit-nsfw-unblur.user.js linguist-language=JavaScript
script-youtube-adbon.user.js linguist-language=JavaScript
script-invert-brute-force-dark-mode.user.js linguist-language=JavaScript
